
#image1{
    width: 400px;
    height: auto;
    padding: 5px;
    border-radius: 13px;
}
#image2{
    height: 200px;
    padding: 5px;
    border-radius: 13px;
}
#content{
    width: 60vw;
    padding: 5px;
}
#profile{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F7F7F7;
    border-radius: 25px;
    margin: 5vh 0vw;
    color: #c58e36;
}
#card h2{
    text-align: center;
    font-weight: 1000;
    padding: 20px 0;
}
a{
    text-decoration: none;
}
.projectButton{
    background-color: #F7F7F7;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.projectButton:hover{
    background-color: #c58e36;
    color: #F7F7F7;
}

@media screen and (max-width: 900px){
    #image1{
        width: 300px;
    }
}
@media screen and (max-width: 500px){
    #image1{
        width: 250px;
    }
}
