#description {
    display: flex;
    justify-content: space-between;
    color: #F6C90E;
    margin: 10vh 5%;
    line-height: 60px;
    font-size: 1.5rem;
    padding-top: 80px;
    flex-wrap: wrap;
}

#profileImage {
    width: 400px;
    border-radius: 10px;
}

#profileSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}


@media screen and (max-width: 900px){
    #profileImage{
        width: 350px;
    }
}

@media screen and (max-width: 500px){
    #profileImage{
        width: 300px;
    }
}