#description {
    display: flex;
    justify-content: space-between;
    color: #F6C90E;
    margin: 10vh 5%;
    line-height: 60px;
    font-size: 1.5rem;
    padding-top: 80px;
    flex-wrap: wrap;
}

#profileImage {
    width: 400px;
    border-radius: 10px;
}

#profileSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
#resumeButton{
    line-height: normal;
    background-color: #F6C90E;
    color: black;
    border-radius: 30px;
    width: 400px;
    height: fit-content;
    padding: 8px 0;
    margin-top: 10px;
}
#varyingText{
    color: #c58e36;
}


@media screen and (max-width: 900px){
    #profileImage{
        width: 350px;
    }
    #resumeButton {
        width: 350px;
    }
}

@media screen and (max-width: 500px){
    #profileImage{
        width: 300px;
    }
    #resumeButton {
        width: 300px;
    }
}