* {margin: 0;padding: 0;box-sizing: border-box;}

#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.8;
}
nav{
    background-color: black;
    font-weight: 520;
    border-bottom: solid 2px #735F32;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}
li{
    padding:3vh 1.5vw;
    font-size: 1.3rem;
}
#navbar a{
    text-decoration: none;
    color: #F6C90E;
}

@media screen and (max-width: 500px){
    li {
        padding: 1.8vh 1vw;
        font-size: 0.8rem;
    }
}